<div class="test-bg vbox">
	<div class="flex"></div>
	<div class="test-title text-center">
		<h1>计算机基础（一）</h1>
		<h4>单选题（不计时）</h4>
	</div>	
	<div class="flex"></div>
</div>

<div class="container down1">
	<div class="row dm">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 ">
			<p class="ge">成&nbsp;&nbsp;&nbsp;绩</p>
			<div class="dm1">
				<div  class="row dm2">
					<div class=" col-md-5 " >
						<%= image_tag "04test_result_cry.png"%>
					</div>
					<div class="col-md- 7 pg">该好好复习了！</div>
				</div>
				<div  class="row dm3">			
					<div class="col-md-8 col-md-offset-4 pn">
						<p>你此次测试的成绩：<span>55</span>分</p>
						<p>总分：100</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="text-center">
		<%= button_to "返回", "#", class: "btn btn-info btn-course", method: :get %>
	</div>
	
