// Place all the styles related to the gread controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.down1{
	background-color: white;
	margin-top: 3px;
}
.ge{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	color: white;
	border-style:none none none none ;
	background-color: #5bcbdc;
	margin-bottom: 0 !important;
	padding: 5px 0;
}
.dm{
	padding-top: 35px;
}
.dm1{
	border-style:none none none none ;
	background-color: #f2fdff;
	padding-bottom: 85px;
}
.dm2{
	padding-top: 25px;
}
.dm2 img{
	padding-left: 210px;
}
.pg{
	font-size: 30px;
	font-weight: 590;
	padding-top: 10px;
}
.pn{
	font-size: 23px;
	font-weight: 400;
}
.dm3{
	padding-top: 25px;
	line-height: 28px;
}
.tbtn1{
	text-align: center;
	margin-bottom: 250px;
}

.pn span{
	color: red;
}